<p>
    Welcome to your new demonstration app! We hope you enjoy using the OSF. The following demonstration pages are
    available to showcase sample functionality:
</p>

<ul>
    {{#if session.isAuthenticated}}
        <li>{{#link-to "me"}}User information{{/link-to}} (requires user to be logged in)</li>
    {{else}}
        <li>{{#link-to "login"}}Log in{{/link-to}}</li>
    {{/if}}
</ul>